body {
background-image: url(../imagenes/indice.jpg);
background-repeat: no-repeat, repeat;
}
     
    
h3   {color:black;}
h4   {color:black;}
p    {color:black; font-size;20pt; font-family: "Verdana", sans-serif;}

table.center {
margin-left:auto;
margin-right:auto;
background-color:rgba(0, 0 , 0, 0.56)
}

mark {
    color: white;
    background-color:rgba(0, 0 ,0, 0.56)
}
